variables:
  - name: _TeamName
    value: DotNetCore

trigger: none
pr: none

resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    pool:
      name: NetCore1ESPool-Internal
      image: windows.vs2022.amd64
      os: windows
    containers:
      LinuxContainer:
        image: mcr.microsoft.com/dotnet-buildtools/prereqs:azurelinux-3.0-net9.0-cross-amd64
    settings:
      networkIsolationPolicy: Permissive, CFSClean, CFSClean2
      
    stages:
    - template: /eng/build.yml@self
      parameters:
        enablePreviewMicrobuild: true
        validateHelix: false
        enablePublishBuildArtifacts: false
        enablePublishBuildAssets: false
        enablePublishUsingPipelines: false

