trigger: none

pr:
  branches:
    include:
    - '*'

resources:
  containers:
  - container: LinuxContainer
    image: mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-14.04-cross-0cd4667-20170319080304

stages:
- stage: build
  displayName: Build
  jobs:
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enableMicrobuild: true
      enablePublishBuildArtifacts: true
      enablePublishBuildAssets: true
      enablePublishUsingPipelines: true
      enableTelemetry: true
      helixRepo: dotnet/arcade-validation
      jobs:
      - job: Windows_NT
        pool:
          name: NetCore-Svc-Public
          demands: ImageOverride -equals windows.vs2019.amd64.open

        strategy:
          matrix:
            Build_Release:
              _BuildConfig: Release
              _SignType: test
            Build_Debug:
              _BuildConfig: Debug
              _SignType: test
        steps:
        - checkout: self
          clean: true
        # Use utility script to run script command dependent on agent OS.
        - script: eng\common\cibuild.cmd
            -configuration $(_BuildConfig)
            -prepareMachine
          displayName: Windows Build / Publish
        - task: ComponentGovernanceComponentDetection@0
          displayName: Component Governance scan

      - job: Linux
        container: LinuxContainer
        pool:
          name: NetCore-Svc-Public
          demands: ImageOverride -equals Build.Ubuntu.2204.Amd64.Open

        strategy:
          matrix:
            Build_Debug:
              _BuildConfig: Debug
              _SignType: none
            Build_Release:
              _BuildConfig: Release
              _SignType: none
        steps:
        - checkout: self
          clean: true
        - script: eng/common/cibuild.sh
            --configuration $(_BuildConfig)
            --prepareMachine
          displayName: Unix Build / Publish
        - task: ComponentGovernanceComponentDetection@0
          displayName: Component Governance scan

      - job: Validate_Helix
        pool:
          name: NetCore-Svc-Public
          demands: ImageOverride -equals windows.vs2019.amd64.Open
        variables:
        - HelixApiAccessToken: ''
        - _BuildConfig: Release
        - name: skipComponentGovernanceDetection
          value: true
        steps:
        - template: /eng/common/templates/steps/send-to-helix.yml
          parameters:
            HelixType: test/product/
            XUnitProjects: $(Build.SourcesDirectory)/src/Validation/tests/Validation.Tests.csproj
            XUnitTargetFramework: netcoreapp2.0
            XUnitRunnerVersion: 2.4.2-pre.9
            XUnitPublishTargetFramework: net6.0
            IncludeDotNetCli: true
            DotNetCliPackageType: sdk
            DotNetCliVersion: 6.0.100
            EnableXUnitReporter: true
            WaitForWorkItemCompletion: true
            HelixTargetQueues: Windows.10.Amd64.Open;(Debian.11.Amd64.Open)Ubuntu.2204.Amd64.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:debian-11-helix-amd64
            HelixSource: pr/dotnet/arcade-validation/$(Build.SourceBranch)
            IsExternal: true
            Creator: arcade-validation
        displayName: Validate Helix