variables:
  - name: _TeamName
    value: DotNetCore
  - name: _PublishUsingPipelines
    value: true
  - group: AzureDevOps-Artifact-Feeds-Pats
  - group: SDL_Settings
  - ${{ if notin(variables['Build.Reason'], 'Schedule') }}:
    - name: PoolProvider
      value: NetCore1ESPool-Svc-Internal
  - ${{ else }}:
    - name: PoolProvider
      value: NetCore1ESPool-Svc-Internal-Int

trigger:
  batch: true
  branches:
    include:
    - main
    - release/8.0

pr: none

schedules:
- cron: "0 0 * * *"
  displayName: Once a day build using Staging pools (at midnight)
  branches:
    include:
    - main
  always: true

resources:
  containers:
  - container: LinuxContainer
    image: mcr.microsoft.com/dotnet-buildtools/prereqs:azurelinux-3.0-net8.0-fpm-amd64
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release
extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    pool:
      name: $(PoolProvider)
      image: windows.vs2019.amd64
      os: windows
      settings:
        networkIsolationPolicy: Permissive, CFSClean, CFSClean2

    stages:
    - stage: build
      displayName: Build
      jobs:
      - template: /eng/common/templates-official/jobs/jobs.yml@self
        parameters:
          enableMicrobuild: true
          enablePublishBuildArtifacts: true
          enablePublishBuildAssets: true
          enablePublishUsingPipelines: ${{ variables._PublishUsingPipelines }}
          enableTelemetry: true
          helixRepo: dotnet/arcade-validation
          jobs:
          - job: Windows_NT
            variables:
            - _BuildConfig: Release
            - _SignType: real
            - _InternalBuildArgs: /p:DotNetSignType=$(_SignType)
                /p:TeamName=$(_TeamName)
                /p:DotNetPublishUsingPipelines=$(_PublishUsingPipelines)
                /p:OfficialBuildId=$(BUILD.BUILDNUMBER)

            steps:
            - checkout: self
              clean: true
            - task: PowerShell@2
              displayName: Setup Private Feeds Credentials
              inputs:
                filePath: $(Build.SourcesDirectory)/eng/common/SetupNugetSources.ps1
                arguments: -ConfigFile $(Build.SourcesDirectory)/NuGet.config -Password $Env:Token
              env:
                Token: $(dn-bot-dnceng-artifact-feeds-rw)
            # Use utility script to run script command dependent on agent OS.
            - script: eng\common\cibuild.cmd
                -configuration $(_BuildConfig)
                -prepareMachine
                $(_InternalBuildArgs)
              displayName: Windows Build / Publish
            - task: ComponentGovernanceComponentDetection@0
              displayName: Component Governance scan

          - job: Linux
            container: LinuxContainer
            pool:
              name: $(PoolProvider)
              image: 1es-ubuntu-2204
              os: linux
            strategy:
              matrix:
                Build_Debug:
                  _BuildConfig: Debug
                  _SignType: none
                Build_Release:
                  _BuildConfig: Release
                  _SignType: none
            steps:
            - checkout: self
              clean: true
            - task: Bash@3
              displayName: Setup Private Feeds Credentials
              inputs:
                filePath: $(Build.SourcesDirectory)/eng/common/SetupNugetSources.sh
                arguments: $(Build.SourcesDirectory)/NuGet.config $Token
              env:
                Token: $(dn-bot-dnceng-artifact-feeds-rw)
            - script: eng/common/cibuild.sh
                --configuration $(_BuildConfig)
                --prepareMachine
              displayName: Unix Build / Publish
            - task: ComponentGovernanceComponentDetection@0
              displayName: Component Governance scan

          - job: Validate_Helix
            variables:
            - HelixApiAccessToken: ''
            - group: DotNet-HelixApi-Access
            - _BuildConfig: Release
            - name: skipComponentGovernanceDetection
              value: true
            steps:
            - template: /eng/common/templates-official/steps/send-to-helix.yml
              parameters:
                HelixType: test/product/
                XUnitProjects: $(Build.SourcesDirectory)/src/Validation/tests/Validation.Tests.csproj
                XUnitTargetFramework: netcoreapp2.0
                XUnitRunnerVersion: 2.4.2-pre.9
                XUnitPublishTargetFramework: net8.0
                IncludeDotNetCli: true
                DotNetCliPackageType: sdk
                DotNetCliVersion: 8.0.100
                EnableXUnitReporter: true
                WaitForWorkItemCompletion: true
                HelixTargetQueues: Windows.Amd64.Server2022;(Debian.12.Amd64)Ubuntu.2204.Amd64@mcr.microsoft.com/dotnet-buildtools/prereqs:debian-12-helix-amd64
                HelixSource: official/dotnet/arcade-validation/$(Build.SourceBranch)
                HelixAccessToken: $(HelixApiAccessToken)
            displayName: Validate Helix

          - job: Validate_Signing
            strategy:
              matrix:
                Test_Signing:
                  _BuildConfig: Debug
                  _SignType: test
                Real_Signing:
                  _BuildConfig: Release
                  _SignType: real
            steps:
              - checkout: self
                clean: true
              - task: CopyFiles@2
                displayName: Copy test packages to artifacts directory
                inputs:
                  sourceFolder: $(Build.SourcesDirectory)\src\validation\resources
                  targetFolder: $(Build.SourcesDirectory)\artifacts\packages\$(_BuildConfig)\NonShipping
              - powershell: eng\common\build.ps1
                  -configuration $(_BuildConfig)
                  -restore
                  -prepareMachine
                  -sign
                  -ci
                  /p:DotNetSignType=$(_SignType)
                  /p:TeamName=DotNetCore
                  /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
                displayName: Sign packages

    - stage: Create_BAR_ID_Tag
      displayName: Create BAR ID Tag
      condition: succeededOrFailed()
      jobs:
      - template: /eng/common/templates-official/job/job.yml@self
        parameters:
          name: Create_BAR_ID_Tag
          displayName: Create BAR ID Tag
          variables:
            - group: Publish-Build-Assets
            - group: DotNetBot-GitHub
          steps:
            - checkout: self
              clean: true
            - task: AzureCLI@2
              displayName: Create BAR ID Tag
              inputs:
                azureSubscription: "Darc: Maestro Production"
                scriptType: ps
                scriptLocation: scriptPath
                scriptPath: $(Build.SourcesDirectory)/eng/create-baridtag.ps1
    - template: /eng/common/templates-official/post-build/post-build.yml@self
      parameters:
        publishingInfraVersion: 3
        # Symbol validation isn't being very reliable lately. This should be enabled back
        # once this issue is resolved: https://github.com/dotnet/arcade/issues/2871
        enableSymbolValidation: false
        enableSourceLinkValidation: true
        # This is to enable SDL runs part of Post-Build Validation Stage
        SDLValidationParameters:
          enable: true
    - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/release/8.0') }}:
      - stage: Promote_Arcade_To_Latest 
        displayName: Promote Arcade to '.NET 8 Eng' channel
        dependsOn:
          - publish_using_darc
        jobs:
        - template: /eng/common/templates-official/job/job.yml@self
          parameters:
            name: Promote_Arcade_To_Latest
            displayName: Promote Arcade
            timeoutInMinutes: 180
            variables:
              - group: Publish-Build-Assets
              - group: DotNetBot-GitHub
              - name: skipComponentGovernanceDetection
                value: true
            steps:
              - checkout: self
                clean: True
                displayName: Promote Arcade to channel
              - task: AzureCLI@2
                displayName: Promote Arcade to 'Latest' channel
                inputs:
                  azureSubscription: "Darc: Maestro Production"
                  scriptType: ps
                  scriptLocation: scriptPath
                  scriptPath: $(Build.SourcesDirectory)/eng/validation/update-channel.ps1
                  arguments: -azdoToken $(dn-bot-dnceng-build-rw-code-rw)