variables:
  - name: _TeamName
    value: DotNetCore
  - group: AzureDevOps-Artifact-Feeds-Pats
  - group: SDL_Settings
  - ${{ if notin(variables['Build.Reason'], 'Schedule') }}:
    - name: PoolProvider
      value: NetCore1ESPool-Internal
  - ${{ else }}:
    - name: PoolProvider
      value: NetCore1ESPool-Internal-Int

trigger:
  batch: true
  branches:
    include:
    - main
    - release/*

pr: none

schedules:
- cron: "0 0 * * *"
  displayName: Once a day build using Staging pools (at midnight)
  branches:
    include:
    - main
  always: true

resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    pool:
      name: $(PoolProvider)
      image: windows.vs2022.amd64
      os: windows
    containers:
      LinuxContainer:
        image: mcr.microsoft.com/dotnet-buildtools/prereqs:azurelinux-3.0-net9.0-cross-amd64
    settings:
      networkIsolationPolicy: Permissive, CFSClean, CFSClean2
      
    stages:
    - template: /eng/build.yml@self

    - stage: Create_BAR_ID_Tag
      displayName: Create BAR ID Tag
      condition: succeededOrFailed()
      jobs:
      - template: /eng/common/templates-official/job/job.yml@self
        parameters:
          name: Create_BAR_ID_Tag
          displayName: Create BAR ID Tag
          variables:
            - group: Publish-Build-Assets
          preSteps:
            - checkout: self
              clean: true
          steps:
            - task: AzureCLI@2
              displayName: Create BAR ID Tag
              inputs:
                azureSubscription: "Darc: Maestro Production"
                scriptType: ps
                scriptLocation: scriptPath
                scriptPath: $(Build.SourcesDirectory)/eng/create-baridtag.ps1

    - template: /eng/common/templates-official/post-build/post-build.yml@self
      parameters:
        publishingInfraVersion: 3
        # Symbol validation isn't being very reliable lately. This should be enabled back
        # once this issue is resolved: https://github.com/dotnet/arcade/issues/2871
        enableSymbolValidation: false
        enableSourceLinkValidation: true
        # This is to enable SDL runs part of Post-Build Validation Stage
        SDLValidationParameters:
          enable: true
          params: ' -SourceToolsList @("policheck","credscan")
          -TsaInstanceURL $(_TsaInstanceURL)
          -TsaProjectName $(_TsaProjectName)
          -TsaNotificationEmail $(_TsaNotificationEmail)
          -TsaCodebaseAdmin $(_TsaCodebaseAdmin)
          -TsaBugAreaPath $(_TsaBugAreaPath)
          -TsaIterationPath $(_TsaIterationPath)
          -TsaRepositoryName "Arcade-Validation"
          -TsaCodebaseName "Arcade-Validation"
          -TsaPublish $True'
                  
    - stage: Promote_Arcade_To_Latest
      displayName: Promote Arcade to '.NET Eng - Latest' channel
      jobs:
      - template: /eng/common/templates-official/job/job.yml@self
        parameters:
          name: Promote_Arcade_To_Latest
          displayName: Promote Arcade to '.NET Eng - Latest' channel
          timeoutInMinutes: 180
          variables:
            - group: Publish-Build-Assets
            - group: DotNetBot-GitHub
            - name: skipComponentGovernanceDetection
              value: true
          preSteps:
            - checkout: self
              clean: true
          steps:
            - task: AzureCLI@2
              displayName: Promote Arcade to 'Latest' channel
              inputs:
                azureSubscription: "Darc: Maestro Production"
                scriptType: ps
                scriptLocation: scriptPath
                scriptPath: $(Build.SourcesDirectory)/eng/validation/update-channel.ps1
                arguments: -azdoToken $(dn-bot-dnceng-build-rw-code-rw)
