variables:
  - name: _TeamName
    value: DotNetCore
  - name: _PublishUsingPipelines
    value: true
  - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
    - group: AzureDevOps-Artifact-Feeds-Pats
    - group: SDL_Settings
  - ${{ if and(eq(variables.PoolProvider, ''), eq(variables['System.TeamProject'], 'public')) }}:
    - name: PoolProvider
      value: NetCore1ESPool-Svc-Public-PR125
  - ${{ if and(ne(variables.PoolProvider, ''), ne(variables['System.TeamProject'], 'public')) }}:
    - name: PoolProvider
      value: NetCore1ESPool-Svc-Internal-Int

trigger:
  batch: true
  branches:
    include:
      - main
      - release/3.x
pr:
  branches:
    include:
    - '*'

schedules:
- cron: "0 0 * * *"
  displayName: Once a day build using Staging pools (at midnight)
  branches:
    include:
    - main
  always: true

resources:
  containers:
  - container: LinuxContainer
    image: mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-14.04-cross-0cd4667-20170319080304

stages:
- stage: build
  displayName: Build
  jobs:
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enableMicrobuild: true
      enablePublishBuildArtifacts: true
      enablePublishBuildAssets: true
      enablePublishUsingPipelines: ${{ variables._PublishUsingPipelines }}
      enableTelemetry: true
      helixRepo: dotnet/arcade-validation
      jobs:
      - job: Windows_NT
        pool:
          name: $(PoolProvider) # This is a queue-time parameter; Public default is NetCorePublic-Pool; Internal default is NetCoreInternal-Pool
          demands: ImageOverride -equals Build.Windows.10.Amd64.VS2019.Open-PR125
        variables:
        - _InternalBuildArgs: ''

        # Only enable publishing in non-public, non PR scenarios.
        - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          - _InternalBuildArgs: /p:DotNetSignType=$(_SignType)
              /p:TeamName=$(_TeamName)
              /p:DotNetPublishUsingPipelines=$(_PublishUsingPipelines)
              /p:OfficialBuildId=$(BUILD.BUILDNUMBER)

        strategy:
          matrix:
            Build_Release:
              _BuildConfig: Release
              # PRs or external builds are not signed.
              ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
                _SignType: test
              ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
                _SignType: real
            ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
              Build_Debug:
                _BuildConfig: Debug
                _SignType: test
        steps:
        - checkout: self
          clean: true
        - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          - task: PowerShell@2
            displayName: Setup Private Feeds Credentials
            condition: eq(variables['Agent.OS'], 'Windows_NT')
            inputs:
              filePath: $(Build.SourcesDirectory)/eng/common/SetupNugetSources.ps1
              arguments: -ConfigFile $(Build.SourcesDirectory)/NuGet.config -Password $Env:Token
            env:
              Token: $(dn-bot-dnceng-artifact-feeds-rw)
        # Use utility script to run script command dependent on agent OS.
        - script: eng\common\cibuild.cmd
            -configuration $(_BuildConfig)
            -prepareMachine
            $(_InternalBuildArgs)
          displayName: Windows Build / Publish
        - task: ComponentGovernanceComponentDetection@0
          displayName: Component Governance scan

  # Jobs that should only run as part of internal builds.
      - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
        - job: Validate_Signing
          pool:
            name: $(PoolProvider) # This is a queue-time parameter; Public default is NetCorePublic-Pool; Internal default is NetCoreInternal-Pool
            demands: ImageOverride -equals Build.Server.Amd64.VS2017
          strategy:
            matrix:
              Test_Signing:
                _BuildConfig: Debug
                _SignType: test
              Real_Signing:
                _BuildConfig: Release
                _SignType: real
          steps:
            - checkout: self
              clean: true
            - task: CopyFiles@2
              displayName: Copy test packages to artifacts directory
              inputs:
                sourceFolder: $(Build.SourcesDirectory)\src\validation\resources
                targetFolder: $(Build.SourcesDirectory)\artifacts\packages\$(_BuildConfig)\NonShipping
            - powershell: eng\common\build.ps1
                -configuration $(_BuildConfig)
                -restore
                -prepareMachine
                -sign
                -ci
                /p:DotNetSignType=$(_SignType)
                /p:TeamName=DotNetCore
                /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
              displayName: Sign packages

- ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
  - template: eng\common\templates\post-build\post-build.yml
    parameters:
      publishingInfraVersion: 3
      # Symbol validation isn't being very reliable lately. This should be enabled back
      # once this issue is resolved: https://github.com/dotnet/arcade/issues/2871
      enableSymbolValidation: false
      enableSourceLinkValidation: true
      # This is to enable SDL runs part of Post-Build Validation Stage
      SDLValidationParameters:
        enable: true
        params: ' -SourceToolsList @("policheck","credscan")
        -TsaInstanceURL $(_TsaInstanceURL)
        -TsaProjectName $(_TsaProjectName)
        -TsaNotificationEmail $(_TsaNotificationEmail)
        -TsaCodebaseAdmin $(_TsaCodebaseAdmin)
        -TsaBugAreaPath $(_TsaBugAreaPath)
        -TsaIterationPath $(_TsaIterationPath)
        -TsaRepositoryName "Arcade-Validation"
        -TsaCodebaseName "Arcade-Validation"
        -TsaPublish $True'
  - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/main') }}:
    - stage: Validate_Publishing
      displayName: Validate Publishing
      jobs:
      - template: /eng/common/templates/post-build/setup-maestro-vars.yml
      - template: /eng/common/templates/job/job.yml
        parameters:
          name: Validate_Publishing
          displayName: Validate Publishing
          dependsOn: setupMaestroVars
          timeoutInMinutes: 240
          pool:
            vmImage: vs2017-win2016
          variables:
            - group: Publish-Build-Assets
            - group: DotNetBot-GitHub
            - name: BARBuildId
              value: $[ dependencies.setupMaestroVars.outputs['setReleaseVars.BARBuildId'] ]
            - name: skipComponentGovernanceDetection
              value: true
          steps:
            - checkout: self
              clean: true
            - powershell: eng\validation\test-publishing.ps1
                -buildId $(BARBuildId)
                -azdoToken $(dn-bot-dotnet-build-rw-code-rw)
                -azdoUser "dotnet-bot"
                -azdoOrg "dnceng"
                -azdoProject "internal"
                -barToken $(MaestroAccessToken)
                -githubPAT $(BotAccount-dotnet-bot-repo-PAT)
    - stage: Promote_Arcade_To_Latest
      displayName: Promote Arcade to '.NET Eng - Latest' channel
      dependsOn:
        - Validate_Publishing
      jobs:
      - template: /eng/common/templates/job/job.yml
        parameters:
          name: Promote_Arcade_To_Latest
          displayName: Promote Arcade to '.NET Eng - Latest' channel
          timeoutInMinutes: 180
          variables:
            - group: Publish-Build-Assets
            - group: DotNetBot-GitHub
            - name: skipComponentGovernanceDetection
              value: true
          steps:
            - checkout: self
              clean: True
            - powershell: eng/validation/update-channel.ps1
                    -maestroEndpoint https://maestro-prod.westus2.cloudapp.azure.com
                    -barToken $(MaestroAccessToken)
                    -azdoToken $(dn-bot-dnceng-build-rw-code-rw)
                    -githubToken $(BotAccount-dotnet-bot-repo-PAT)
              displayName: Promote Arcade to 'Latest' channel
