variables:
  - name: _TeamName
    value: DotNetCore
  - name: _PublishUsingPipelines
    value: true
  - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
    - group: AzureDevOps-Artifact-Feeds-Pats
    - group: SDL_Settings
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - name: PoolProvider
      value: NetCore-Svc-Public
  - ${{ if ne(variables['System.TeamProject'], 'public') }}:
    - name: PoolProvider
      value: NetCore1ESPool-Svc-Internal
  - ${{ if and(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'Schedule')) }}:
    - name: PoolProvider
      value: NetCore-Svc-Public-Int
  - ${{ if and(ne(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'Schedule')) }}:
    - name: PoolProvider
      value: NetCore1ESPool-Svc-Internal-Int

trigger:
  batch: true
  branches:
    include:
      - main
      - release/3.x
      - release/6.0

pr:
  branches:
    include:
    - '*'

schedules:
- cron: "0 0 * * *"
  displayName: Once a day build using Staging pools (at midnight)
  branches:
    include:
    - main
  always: true

resources:
  containers:
  - container: LinuxContainer
    image: mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-14.04-cross-0cd4667-20170319080304

stages:
- stage: build
  displayName: Build
  jobs:
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enableMicrobuild: true
      enablePublishBuildArtifacts: true
      enablePublishBuildAssets: true
      enablePublishUsingPipelines: ${{ variables._PublishUsingPipelines }}
      enableTelemetry: true
      helixRepo: dotnet/arcade-validation
      jobs:
      - job: Windows_NT
        pool:
          name: $(PoolProvider) # This is a queue-time parameter; Public default is NetCorePublic-Pool; Internal default is NetCoreInternal-Pool
          ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
            demands: ImageOverride -equals Build.Server.Amd64.VS2017.Open
          ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
            demands: ImageOverride -equals Build.Server.Amd64.VS2017
        variables:
        - _InternalBuildArgs: ''

        # Only enable publishing in non-public, non PR scenarios.
        - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          - _InternalBuildArgs: /p:DotNetSignType=$(_SignType)
              /p:TeamName=$(_TeamName)
              /p:DotNetPublishUsingPipelines=$(_PublishUsingPipelines)
              /p:OfficialBuildId=$(BUILD.BUILDNUMBER)

        strategy:
          matrix:
            Build_Release:
              _BuildConfig: Release
              # PRs or external builds are not signed.
              ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
                _SignType: test
              ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
                _SignType: real
            ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
              Build_Debug:
                _BuildConfig: Debug
                _SignType: test
        steps:
        - checkout: self
          clean: true
        - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          - task: PowerShell@2
            displayName: Setup Private Feeds Credentials
            condition: eq(variables['Agent.OS'], 'Windows_NT')
            inputs:
              filePath: $(Build.SourcesDirectory)/eng/common/SetupNugetSources.ps1
              arguments: -ConfigFile $(Build.SourcesDirectory)/NuGet.config -Password $Env:Token
            env:
              Token: $(dn-bot-dnceng-artifact-feeds-rw)
        # Use utility script to run script command dependent on agent OS.
        - script: eng\common\cibuild.cmd
            -configuration $(_BuildConfig)
            -prepareMachine
            $(_InternalBuildArgs)
          displayName: Windows Build / Publish
        - task: ComponentGovernanceComponentDetection@0
          displayName: Component Governance scan

      - job: Linux
        container: LinuxContainer
        pool:
          ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
            name: $(PoolProvider) # This is a queue-time parameter; Public default is NetCorePublic-Pool; Internal default is NetCoreInternal-Pool
            demands: ImageOverride -equals Build.Ubuntu.1804.Amd64.Open
          ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
            name: $(PoolProvider)
            demands: ImageOverride -equals Build.Ubuntu.1804.Amd64

        strategy:
          matrix:
            Build_Debug:
              _BuildConfig: Debug
              _SignType: none
            Build_Release:
              _BuildConfig: Release
              _SignType: none
        steps:
        - checkout: self
          clean: true
        - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          - task: Bash@3
            displayName: Setup Private Feeds Credentials
            inputs:
              filePath: $(Build.SourcesDirectory)/eng/common/SetupNugetSources.sh
              arguments: $(Build.SourcesDirectory)/NuGet.config $Token
            condition: ne(variables['Agent.OS'], 'Windows_NT')
            env:
              Token: $(dn-bot-dnceng-artifact-feeds-rw)
        - script: eng/common/cibuild.sh
            --configuration $(_BuildConfig)
            --prepareMachine
          displayName: Unix Build / Publish
        - task: ComponentGovernanceComponentDetection@0
          displayName: Component Governance scan

      - job: Validate_Helix
        pool:
          ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
            name: $(PoolProvider) 
            demands: ImageOverride -equals Build.Server.Amd64.VS2019.Open
          ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
            name: $(PoolProvider)
            demands: ImageOverride -equals Build.Server.Amd64.VS2019
        variables:
        - HelixApiAccessToken: ''
        - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          - group: DotNet-HelixApi-Access
        - _BuildConfig: Release
        - name: skipComponentGovernanceDetection
          value: true
        steps:
        - template: /eng/common/templates/steps/send-to-helix.yml
          parameters:
            HelixType: test/product/
            XUnitProjects: $(Build.SourcesDirectory)/src/Validation/tests/Validation.Tests.csproj
            XUnitTargetFramework: netcoreapp2.0
            XUnitRunnerVersion: 2.4.2-pre.9
            XUnitPublishTargetFramework: net6.0
            IncludeDotNetCli: true
            DotNetCliPackageType: sdk
            DotNetCliVersion: 6.0.100
            EnableXUnitReporter: true
            WaitForWorkItemCompletion: true
            ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
              HelixTargetQueues: Windows.10.Amd64.Open;(Debian.10.Amd64.Open)Ubuntu.2004.Amd64.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:debian-10-helix-amd64-20220511124228-fbf2f29
              HelixSource: pr/dotnet/arcade-validation/$(Build.SourceBranch)
              IsExternal: true
              Creator: arcade-validation
            ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
              HelixTargetQueues: Windows.10.Amd64;(Debian.10.Amd64)Ubuntu.2004.Amd64@mcr.microsoft.com/dotnet-buildtools/prereqs:debian-10-helix-amd64-20220511124228-fbf2f29
              HelixSource: official/dotnet/arcade-validation/$(Build.SourceBranch)
              HelixAccessToken: $(HelixApiAccessToken)
        displayName: Validate Helix

  # Jobs that should only run as part of internal builds.
      - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
        - job: Validate_Signing
          pool:
            name: $(PoolProvider) # This is a queue-time parameter; Public default is NetCorePublic-Pool; Internal default is NetCoreInternal-Pool
            demands: ImageOverride -equals Build.Server.Amd64.VS2017
          strategy:
            matrix:
              Test_Signing:
                _BuildConfig: Debug
                _SignType: test
              Real_Signing:
                _BuildConfig: Release
                _SignType: real
          steps:
            - checkout: self
              clean: true
            - task: CopyFiles@2
              displayName: Copy test packages to artifacts directory
              inputs:
                sourceFolder: $(Build.SourcesDirectory)\src\validation\resources
                targetFolder: $(Build.SourcesDirectory)\artifacts\packages\$(_BuildConfig)\NonShipping
            - powershell: eng\common\build.ps1
                -configuration $(_BuildConfig)
                -restore
                -prepareMachine
                -sign
                -ci
                /p:DotNetSignType=$(_SignType)
                /p:TeamName=DotNetCore
                /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
              displayName: Sign packages

- ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
  - template: eng\common\templates\post-build\post-build.yml
    parameters:
      publishingInfraVersion: 3
      # Symbol validation isn't being very reliable lately. This should be enabled back
      # once this issue is resolved: https://github.com/dotnet/arcade/issues/2871
      enableSymbolValidation: false
      enableSourceLinkValidation: true
      # This is to enable SDL runs part of Post-Build Validation Stage
      SDLValidationParameters:
        enable: true
        params: ' -SourceToolsList @("policheck","credscan")
        -TsaInstanceURL $(_TsaInstanceURL)
        -TsaProjectName $(_TsaProjectName)
        -TsaNotificationEmail $(_TsaNotificationEmail)
        -TsaCodebaseAdmin $(_TsaCodebaseAdmin)
        -TsaBugAreaPath $(_TsaBugAreaPath)
        -TsaIterationPath $(_TsaIterationPath)
        -TsaRepositoryName "Arcade-Validation"
        -TsaCodebaseName "Arcade-Validation"
        -TsaPublish $True'
  - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/release/6.0') }}:
    - stage: Validate_Publishing
      displayName: Validate Publishing
      jobs:
      - template: /eng/common/templates/job/job.yml
        parameters:
          name: Validate_Publishing
          displayName: Validate Publishing
          timeoutInMinutes: 240
          pool:
            name: $(PoolProvider)
            demands: ImageOverride -equals build.windows.amd64.vs2022
          variables:
            - group: Publish-Build-Assets
            - group: DotNetBot-GitHub
            - name: BARBuildId
              value: $[ dependencies.setupMaestroVars.outputs['setReleaseVars.BARBuildId'] ]
            - name: skipComponentGovernanceDetection
              value: true
          steps:
            - template: /eng/common/templates/post-build/setup-maestro-vars.yml
            - checkout: self
              clean: true
            - powershell: eng\validation\test-publishing.ps1
                -buildId $(BARBuildId)
                -azdoToken $(dn-bot-dotnet-build-rw-code-rw)
                -azdoUser "dotnet-bot"
                -azdoOrg "dnceng"
                -azdoProject "internal"
                -barToken $(MaestroAccessToken)
                -githubPAT $(BotAccount-dotnet-bot-repo-PAT)
    - stage: Promote_to_net6_eng_channel
      displayName: Promote Arcade to '.NET 6 Eng' channel
      dependsOn:
        - Validate_Publishing
      jobs:
      - template: /eng/common/templates/job/job.yml
        parameters:
          name: Promote_to_net6_eng_channel
          pool:
            name: $(PoolProvider)
            demands: ImageOverride -equals build.windows.10.amd64.vs2019
          displayName: Promote Arcade to '.NET 6 Eng' channel
          timeoutInMinutes: 180
          variables:
            - group: Publish-Build-Assets
            - group: DotNetBot-GitHub
            - name: skipComponentGovernanceDetection
              value: true
          steps:
            - checkout: self
              clean: True
            - pwsh: eng/validation/update-channel.ps1
                    -maestroEndpoint https://maestro-prod.westus2.cloudapp.azure.com
                    -barToken $(MaestroAccessToken)
                    -azdoToken $(dn-bot-dnceng-build-rw-code-rw)
                    -githubToken $(BotAccount-dotnet-bot-repo-PAT)
              displayName: Promote Arcade to '.NET 6 Eng' channel
