<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <!-- Only specify feed for Arcade SDK (see https://github.com/Microsoft/msbuild/issues/2982) -->
  <packageSources>
    <clear />
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="arcade-validation" value="https://dotnetfeed.blob.core.windows.net/arcade-validation/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="symreader-converter" value="https://dotnet.myget.org/F/symreader-converter/api/v3/index.json" />
    <add key="symreader" value="https://dotnet.myget.org/F/symreader/api/v3/index.json" />
    <!-- these two feeds are only added to test functionality in the SetupNuGetSources scripts -->
    <add key="darc-int-dotnet-corefx-059a4a1" value="https://pkgs.dev.azure.com/dnceng/_packaging/darc-int-dotnet-corefx-059a4a19/nuget/v3/index.json" />
    <add key="fake-source-will-break-if-enabled" value="https://fake-source/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="fake-source-will-break-if-enabled" value="true"/>
    <add key="darc-int-dotnet-corefx-059a4a1" value="true"/>
  </disabledPackageSources>
</configuration>
